@model IEnumerable<Sales.AplicacionCasosDEusos.ModelsCasosUsos.DetalleVenta.DetalleVentaGetModels>

@{
    ViewData["Title"] = "Index";
}

<h1>List DetalleVenta</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.IdProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarcaProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioCreacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
         
            <td>
                @Html.DisplayFor(modelItem => item.IdProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarcaProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioCreacion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id  }) 
                
            </td>
        </tr>
}
    </tbody>
</table>
