@model IEnumerable<Sales.AplicacionCasosDEusos.ModelsCasosUsos.Negocio.NegocioGetModels>

@{
    ViewData["Title"] = "Index";
}

<h1>List Negocio</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.UrlLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PorcentajeImpuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SimboloMoneda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioCreacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.UrlLogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreLogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PorcentajeImpuesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SimboloMoneda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioCreacion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id  }) 
   
            </td>
        </tr>
}
    </tbody>
</table>
